<?xml version="1.0"?>
<!--
/**
 * Yireo SalesBlock for Magento 
 *
 * @package     Yireo_SalesBlock
 * @author      Yireo (https://www.yireo.com/)
 * @copyright   Copyright 2017 Yireo (https://www.yireo.com/)
 * @license     Open Source License (OSL v3)
 */
-->
<config>

    <modules>
        <Yireo_SalesBlock>
            <version>0.1.10</version>
        </Yireo_SalesBlock>
    </modules>

    <global>
        <blocks>
            <salesblock>
                <class>Yireo_SalesBlock_Block</class>
            </salesblock>
        </blocks>

        <helpers>
            <salesblock>
                <class>Yireo_SalesBlock_Helper</class>
            </salesblock>
        </helpers>

        <models>
            <salesblock>
                <class>Yireo_SalesBlock_Model</class>
                <resourceModel>salesblock_mysql4</resourceModel>
            </salesblock>
            <salesblock_mysql4>
                <class>Yireo_SalesBlock_Model_Mysql4</class>
                <entities>
                    <rule>
                        <table>salesblock_rule</table>
                    </rule>
                </entities>
            </salesblock_mysql4>
        </models>

        <resources>
            <salesblock_setup>
                <setup>
                    <module>Yireo_SalesBlock</module>
                    <class>Mage_Catalog_Model_Resource_Eav_Mysql4_Setup</class>
                </setup>
                <connection>
                    <use>core_setup</use>
                </connection>
            </salesblock_setup>
            <salesblock_write>
                <connection>
                    <use>core_write</use>
                </connection>
            </salesblock_write>
            <salesblock_read>
                <connection>
                    <use>core_read</use>
                </connection>
            </salesblock_read>
        </resources>

        <events>
            <controller_action_predispatch>
                <observers>
                    <salesblock_prevent_cart_actions>
                        <type>singleton</type>
                        <class>Yireo_SalesBlock_Model_Observer_PreventCartActions</class>
                        <method>controllerActionPredispatch</method>
                    </salesblock_prevent_cart_actions>
                </observers>
            </controller_action_predispatch>
            <core_block_abstract_to_html_after>
                <observers>
                    <salesblock_replace_rule_variables>
                        <type>singleton</type>
                        <class>Yireo_SalesBlock_Model_Observer_ReplaceRuleVariables</class>
                        <method>coreBlockAbstractToHtmlAfter</method>
                    </salesblock_replace_rule_variables>
                </observers>
            </core_block_abstract_to_html_after>
           <sales_quote_save_before>
                <observers>
                    <salesblock_prevent_quote_save>
                        <type>singleton</type>
                        <class>Yireo_SalesBlock_Model_Observer_PreventQuoteSave</class>
                        <method>salesQuoteSaveBefore</method>
                    </salesblock_prevent_quote_save>
                </observers>
            </sales_quote_save_before>
           <sales_order_place_before>
                <observers>
                    <salesblock_prevent_order_save>
                        <type>singleton</type>
                        <class>Yireo_SalesBlock_Model_Observer_PreventOrderSave</class>
                        <method>salesOrderPlaceBefore</method>
                    </salesblock_prevent_order_save>
                </observers>
            </sales_order_place_before>
        </events>
    </global>

    <adminhtml>
        <translate>
            <modules>
                <Yireo_SalesBlock>
                    <files>
                        <default>Yireo_SalesBlock.csv</default>
                    </files>
                </Yireo_SalesBlock>
            </modules>
        </translate>
        <acl>
            <resources>
                <admin>
                    <children>
                        <system>
                            <children>
                                <config>
                                    <children>
                                        <salesblock translate="title" module="salesblock">
                                            <title>SalesBlock Section</title>
                                        </salesblock>
                                    </children>
                                </config>
                            </children>
                        </system>
                    </children>
                </admin>
            </resources>
        </acl>
    </adminhtml>

    <admin>
        <routers>
            <adminhtml>
                <args>
                    <modules>
                        <salesblock after="Mage_Adminhtml">Yireo_SalesBlock</salesblock>
                    </modules>
                </args>
            </adminhtml>
        </routers>
    </admin>

    <frontend>
       <secure_url>
            <salesblock>/salesblock/</salesblock>
        </secure_url>
        <routers>
            <salesblock>
                <use>standard</use>
                <args>
                    <module>Yireo_SalesBlock</module>
                    <frontName>salesblock</frontName>
                </args>
            </salesblock>
        </routers>
        <layout>
            <updates>
                <salesblock>
                    <file>salesblock.xml</file>
                </salesblock>
            </updates>
        </layout>
        <translate>
            <modules>
                <Yireo_SalesBlock>
                    <files>
                        <default>Yireo_SalesBlock.csv</default>
                    </files>
                </Yireo_SalesBlock>
            </modules>
        </translate>
    </frontend>

    <default>
        <salesblock>
            <settings>
                <enabled>1</enabled>
                <custom_page>0</custom_page>
                <cmspage></cmspage>
            </settings>
        </salesblock>
    </default>
</config>
